<div class="top-images">
  <div class="top-image_1"></div>
  <div class="top-image_2"></div>
  <div class="top-image_3"></div>
</div>

<div class="container">
  <div class="row top-page">
    <div class="col text">
      <h3>
        aaa
      </h3>
    </div>
  </div>
  <br>
</div>
