<div class="container">
  <div class="row top-page">
    <div class="col text">
      <p class="home-title">
        <%= image_tag("Title.png", alt: "Title", class: "home-title-text") %>
      </p>

      <h4>
      </h4>
    </div>
  </div>
  <br>
</div>
