* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:#fafdff;
  border-bottom: 2px solid #bcc7d7; /* 下線を追加 */
}
.nav-title {
  width: 65%; /* 画像の幅を40%に設定 */
  height: auto; /* アスペクト比を保つために高さは自動に */
}

body {
  background-color:#fafdff;
}

footer {
  background-color:#fafdff;
  border-top: 2px solid #bcc7d7; /* 下線を追加 */
}
.footer-text {
  display: flexbox;
  justify-content: center;
  text-align: center;
}