* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color:#fafdff;
  border-bottom: 2px solid #bcc7d7; /* 下線を追加 */
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1000;
}
.header-top {
  /* display: flex;
  justify-content: space-between; */
  align-items: center;
  padding: 10px 20px;
}

.navbar-toggler {
  border: none;
  background: transparent;
}

.nav-title {
  width: 50%; /* 画像の幅を40%に設定 */
  height: auto; /* アスペクト比を保つために高さは自動に */
}
.header-nav-btn {
  color: #3e62ad;
  font-size: large;
  font-weight: bold;
}

.header-bottom {
  /* display: flex;
  justify-content: center; */
  padding: 8px 20px;
}

body {
  background-color:#fafdff;
  color: #606163;
}

footer {
  background-color:#fafdff;
  border-top: 2px solid #bcc7d7; /* 下線を追加 */
}
.footer-text {
  display: flexbox;
  justify-content: center;
  text-align: center;
  color: #606163;
}

