* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.top-image_1 {
  background-image: url('../images/Top3.jpg');
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  justify-content: center;
  margin: 2em 0;
}


.home-title {
  display: flex;
  justify-content: center;
}

.home-title-text {
  width: 400px;
  height: auto;
  padding: 30px;
}

.text {
  color: #606163;
}